* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial;
  color: white;
}

body {
  margin-top: 100px;
  background-color: #120a04;
}

/*========== HEADER Styling ============*/
header {
  background-image: linear-gradient(to right, #120a04, #2f1f0e);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-size: 23px;
  position: fixed;
  top: 0;
  right: -1px;
  left: 0;
  z-index: 100;
}

.header-left {
  height: 100%;
}
.logo {
  height: 100%;
}

.header-middle {
  width: 600px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-middle nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.header-right {
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

.sign-up {
  border: 2px solid white;
  padding: 12px 22px;
  border-radius: 10px;
}

.hamburger {
  display: none;
}

.sidebar {
  display: none;
  z-index: 101;
}

/*========== HERO BANNER Styling ============*/

.hero-section {
  width: 90vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 9rem;
  padding-right: 2rem;
  overflow:visible;
}

.hero-section::before {
  content: "";
  top: 70%;
  left: 70%;
  width: 80vmax;
  height: 80vmax;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle at 43% 50%,
    rgba(251, 193, 117, 0.26) 5%,
    rgba(251, 193, 117, 0.14) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  filter: blur(40px);
  position: absolute;
  z-index: 1;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 40%;
  right: -135%;
  transform: translate(-50%, -50%) rotate(-45deg);

  width: 100vmax;
  height: 100vmax;

  background: linear-gradient(
    to right,
    rgba(134, 69, 28, 0.5) 0%,
    rgba(251, 193, 117, 0.1) 35%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 0;
  pointer-events: none;
}

.hero-text {
  overflow: hidden;
  flex: 0.5;
  z-index: 2;
}

.hero-text .main-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 123px;
  margin-bottom: 22px;
}

.hero-text .descriptive-line {
  font-size: 22.7px;
  margin-bottom: 46px;
}

.hero-text .call-to-action {
  font-size: 22.7px;
  background-color: #835220;
  padding: 17px 20px;
  border: none;
  border-radius: 12px;
}

.cup-wrapper {
  flex: 0.75;
  height: 95vh;
  overflow: visible;
  z-index: 20;
}

.cup-wrapper::before {
  content: "";
  position: absolute;
  top: 35%;
  right: -149%;
  transform: translate(-50%, -50%) rotate(-46deg);

  width: 100vmax;
  height: 100vmax;
  background: linear-gradient(
    to right,
    rgba(29, 19, 5, 0.45) 0%,
    rgba(0, 0, 0, 0.427) 35%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(22px);
  clip-path: polygon(6% 8%, 94% 2%, 98% 50%, 94% 98%, 6% 92%, 2% 50%);
  pointer-events: none;
  z-index: 19;
}

.cup-image {
  width: 90%;
  z-index: 20;
}

/*========== RESPONSIVENESS Styling ============*/
/* Header-Middle components are now in sidebar*/
@media (max-width: 1382px) and (min-width: 825px) {
  .header-middle,
  .midView,
  .smallview {
    display: none;
  }

  .header-right {
    width: 600px;
  }

  header {
    justify-content: space-between;
  }
  .hamburger {
    display: inline-block;
    width: 40px;
  }

  .sidebar {
    background-color: #120a04; /* #2f1f0e; */
    color: #fbc175;
    position: fixed;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 63vw;
    font-size: 30px;
  }

  .sidebar nav {
    height: 100%;
    width: 100%;
  }
  .sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .sidebar nav li {
    list-style: none;
    margin-left: 50px;
  }

  .close {
    width: 40px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

/* Header-Middle and Header-Right components are now in sidebar*/
@media (max-width: 824px) and (min-width: 600px) {
  .header-middle,
  .onMobileView,
  .smallview {
    display: none;
  }

  .header-right {
    width: 300px;
  }
  .header-left {
    margin-left: 20px;
  }
  header {
    justify-content: space-between;
  }

  .hamburger {
    display: inline-block;
    width: 70px;
  }

  .sidebar {
    background-color: #120a04; /* #2f1f0e; */
    color: #fbc175;
    position: fixed;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 101vw;
    font-size: 30px;
  }

  .sidebar nav {
    height: 100%;
    width: 100%;
  }
  .sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .sidebar nav li {
    list-style: none;
    margin-left: 50px;
  }

  .close {
    width: 40px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
/* only logo and hamburger visible in header, everything else is now in sidebar*/
@media (max-width: 599px) and (min-width: 0) {
  .header-middle,
  .onMobileView,
  .lowerView {
    display: none;
  }

  header {
    justify-content: space-between;
    align-items: center;
  }

  .header-right {
    width: 200px;
  }
  .logo {
    height: 70%;
    margin-top: 13px;
  }

  .hamburger {
    display: inline-block;
    width: 50px;
  }

  .sidebar {
    background-color: #120a04; /* #2f1f0e; */
    color: #fbc175;
    position: fixed;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 101vw;
    font-size: 30px;
  }

  .sidebar nav {
    height: 100%;
    width: 100%;
  }
  .sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .sidebar nav li {
    list-style: none;
    margin-left: 50px;
  }

  .close {
    width: 40px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
