* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial;
}

body {
  margin-top: 100px;
  background-color: #120a04;
}

header {
  background-image: linear-gradient(to right, #120a04, #2f1f0e);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-size: 23px;
  position: fixed;
  top: 0;
  right: -1px;
  left: 0;
}

.header-left {
  height: 100%;
}
.logo {
  height: 100%;
}

.header-middle {
  width: 600px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-middle nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.header-right {
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

.sign-up {
  border: 2px solid white;
  padding: 12px 22px;
  border-radius: 10px;
}

.hamburger {
  display: none;
}

.sidebar {
  display: none;
}

/* Header-Middle components are now in sidebar*/
@media (max-width: 1382px) and (min-width: 825px) {
  .header-middle,
  .midView,
  .smallview {
    display: none;
  }

  .header-right {
    width: 600px;
  }

  header {
    justify-content: space-between;
  }
  .hamburger {
    display: inline-block;
    width: 40px;
  }

  .sidebar {
    background-color: #120a04; /* #2f1f0e; */
    color: #fbc175;
    position: fixed;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 63vw;
    font-size: 30px;
  }

  .sidebar nav {
    height: 100%;
    width: 100%;
  }
  .sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .sidebar nav li {
    list-style: none;
    margin-left: 50px;
  }

  .close {
    width: 40px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

/* Header-Middle and Header-Right components are now in sidebar*/
@media (max-width: 824px) and (min-width: 600px) {
  .header-middle,
  .onMobileView,
  .smallview {
    display: none;
  }

  .header-right {
    width: 300px;
  }
  .header-left {
    margin-left: 20px;
  }
  header {
    justify-content: space-between;
  }

  .hamburger {
    display: inline-block;
    width: 70px;
  }

  .sidebar {
    background-color: #120a04; /* #2f1f0e; */
    color: #fbc175;
    position: fixed;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 101vw;
    font-size: 30px;
  }

  .sidebar nav {
    height: 100%;
    width: 100%;
  }
  .sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .sidebar nav li {
    list-style: none;
    margin-left: 50px;
  }

  .close {
    width: 40px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
/* only logo and hamburger visible in header, everything else is now in sidebar*/
@media (max-width: 599px) and (min-width: 0) {
  .header-middle,
  .onMobileView,
  .lowerView {
    display: none;
  }

  header {
    justify-content: space-between;
    align-items: center;
  }

  .header-right {
    width: 200px;
  }
  .logo {
    height: 70%;
    margin-top: 13px;
  }

  .hamburger {
    display: inline-block;
    width: 50px;
  }

  .sidebar {
    background-color: #120a04; /* #2f1f0e; */
    color: #fbc175;
    position: fixed;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 101vw;
    font-size: 30px;
  }

  .sidebar nav {
    height: 100%;
    width: 100%;
  }
  .sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .sidebar nav li {
    list-style: none;
    margin-left: 50px;
  }

  .close {
    width: 40px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
